@import "font";
@import "base";
@import "layout";
@import "modules/example";

body {
  background: #eee;
}

.screen {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
}

.box1 {
  width: 200px;
  height: 300px;
  background: blue;
  position: sticky;
  top: -100px;
  left: -50px;
  transition: all 2s;
}

.box1.is-active {
  top: 500;
  left: 500;
}

.hand {
  margin-left: 200px;
}

.box2 {
  width: 200px;
  height: 300px;

  background: rgb(198, 16, 16);
  position: sticky;
  top: 0px;
  left: 1000px;
  transition: all 2s;
}

.box2.is-active {
  top: 500;
  left: 500;
}

.box3 {
  width: 200px;
  height: 300px;
  background: rgb(25, 113, 76);
  position: sticky;
  top: 550px;
  left: 1000px;
  transition: all 2s;
}

.box3.is-active {
  top: 500;
  left: 500;
}

.box4 {
  width: 200px;
  height: 300px;
  background: rgb(242, 250, 4);
  position: sticky;
  top: 500px;
  left: -100px;
  transition: all 2s;
}

.box4.is-active {
  top: 500;
  left: 500;
}

.title-agenda {
  margin-left: 200px;
  color: #f00;
  font-family: Inter;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 7px;
  align-items: center;
}

.text-agenda {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.4px;
}
