@import "font";
@import "base";
@import "layout";
@import "modules/example";

body {
  background: #eee;
}

.screen {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.box1 {
  width: 625px;
  height: 1090px;
  background-image: url(../img/pattern_00_left.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 2s;
}

.box1.is-active {
  top: 20%;
  left: 20%;
}

.hand {
  margin-left: 30%;
  margin-top: 400px;
  position: relative;
  z-index: 1;
}

.box2 {
  width: 400px;
  height: 570px;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 2s;
  background-image: url(../img/pattern_01_right.png);
}

.box2.is-active {
  top: 500;
  left: 2100;
}

.box3 {
  width: 440px;
  height: 300px;
  position: absolute;
  top: 85%;
  left: 0px;
  transition: all 2s;
  background-image: url(../img/pattern_02_left.png);
}

.box3.is-active {
  top: 600;
  left: 2000;
}

.box4 {
  width: 400px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: 64%;
  transition: all 2s;
  background-image: url(../img/pattern_03_right.png);
}

.box4.is-active {
  top: 600;
  left: 2100;
}

.title-agenda {
  margin-left: 50%;
  color: #f00;
  font-family: Inter;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 7px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.title-agenda.is-active {
  margin-left: 50%;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 7px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.text-agenda {
  margin-left: 50%;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.4px;
  position: relative;
  z-index: 1;
}

.langue {
  display: flex;
  color: #000000;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  margin-top: -290px;
  margin-left: 850px;
}

.txt-gras {
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.logo {
  margin-top: 85%;
  margin-left: 80%;
  position: relative;
  z-index: 1;
}
